basePath: /
definitions:
  event.Event:
    properties:
      android_id:
        type: string
      app:
        type: string
      app_package_name:
        type: string
      app_version_name:
        type: string
      application_id:
        type: integer
      appmetrica_device_id:
        type: string
      browser:
        type: string
      browser_version:
        type: string
      connection_type:
        type: string
      cookie_enabled:
        type: boolean
      device_id:
        type: string
      device_locale:
        type: string
      device_manufacturer:
        type: string
      device_model:
        type: string
      device_type:
        type: string
      event_datetime:
        $ref: '#/definitions/event.EventDatetime'
      event_json:
        type: string
      event_name:
        type: string
      event_timestamp:
        type: integer
      google_aid:
        type: string
      hardware_or_gui:
        type: string
      installation_id:
        type: string
      ios_ifa:
        type: string
      ios_ifv:
        type: string
      js_enabled:
        type: boolean
      mcc:
        type: string
      mnc:
        type: string
      operator_name:
        type: string
      os_name:
        type: string
      os_version:
        type: string
      physical_screen_height:
        type: integer
      physical_screen_width:
        type: integer
      platform:
        type: string
      profile_id:
        type: string
      referer:
        type: string
      screen_aspect_ratio:
        type: string
      screen_height:
        type: integer
      screen_orientation:
        type: string
      screen_weight:
        type: integer
      sdk_version:
        type: integer
      session_id:
        type: string
      timezone:
        type: number
      title:
        type: string
      uniq_id:
        type: string
      url:
        type: string
      user_agent:
        type: string
      utm_campaign:
        type: string
      utm_content:
        type: string
      utm_medium:
        type: string
      utm_source:
        type: string
      utm_term:
        type: string
      version:
        type: integer
      xlhd_agent:
        type: string
    type: object
  event.EventDatetime:
    properties:
      time.Time:
        type: string
    type: object
  gateway.DebugMessage:
    properties:
      ip:
        type: string
      ips:
        items:
          type: string
        type: array
      real_ip:
        type: string
      x_forwarded_for:
        type: string
      x_real_ip:
        type: string
    type: object
  gateway.ErrorMessage:
    properties:
      error:
        type: string
      request_body:
        type: string
    type: object
  mediavitrina.MediaVitrina:
    properties:
      ad_position:
        type: string
      application_id:
        type: string
      bitrate:
        type: integer
      buffering_count:
        type: integer
      buffering_sec:
        type: integer
      client_ad_sec:
        type: integer
      client_time_zone_offset:
        type: integer
      content_sec:
        type: integer
      device_model:
        type: string
      device_type:
        type: string
      device_vendor:
        type: string
      domain:
        type: string
      drm:
        type: integer
      drm_system_name:
        type: string
      error_adv:
        type: string
      error_title:
        type: string
      event_datetime:
        $ref: '#/definitions/event.EventDatetime'
      event_name:
        type: string
      event_timestamp:
        type: integer
      event_ts:
        type: string
      init_before_stream_or_ad_request_msec:
        type: integer
      is_fullscreen_mode:
        type: integer
      is_muted:
        type: integer
      is_nobanner:
        type: integer
      is_subtitles_mode:
        type: integer
      is_web_player:
        type: integer
      location:
        type: string
      mode:
        type: string
      pause_sec:
        type: integer
      player:
        type: string
      player_id:
        type: string
      product:
        type: string
      sid:
        type: string
      stream_or_ad_initial_buffering_msec:
        type: integer
      stream_ts:
        type: integer
      uid:
        type: string
      user_browser:
        type: string
      user_browser_ver:
        type: string
      user_browser_ver_major:
        type: string
      user_browser_ver_minor:
        type: string
      user_os_name:
        type: string
      user_os_ver_major:
        type: string
      user_os_ver_minor:
        type: string
      user_region_iso_3166_2:
        type: string
      vitrina_id:
        type: string
    type: object
host: lm.limehd.tv
info:
  contact:
    email: a.kapitonov@limehd.tv
    name: API Support
  description: Under construct
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: OwnMetrics aka AppMetrica gateway service
  version: "1.0"
paths:
  /internal/api/v1/event:
    post:
      consumes:
      - application/json
      description: Method receive message and send to queue
      parameters:
      - description: request event
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/event.Event'
      produces:
      - application/json
      responses:
        "201":
          description: no content
          schema:
            type: string
      summary: Receive event fields
      tags:
      - Events
  /internal/api/v1/event-batch:
    post:
      consumes:
      - application/json
      description: Method receive messages and send to queue
      parameters:
      - description: request events
        in: body
        name: data
        required: true
        schema:
          items:
            $ref: '#/definitions/event.Event'
          type: array
      produces:
      - application/json
      responses:
        "201":
          description: no content
          schema:
            type: string
      summary: Receive event fields with batch mode
      tags:
      - Events
  /internal/api/v1/event-debug:
    post:
      consumes:
      - application/json
      description: Method check event message is valid or not
      parameters:
      - description: request debug event
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/event.Event'
      produces:
      - application/json
      responses:
        "202":
          description: ok
          schema:
            $ref: '#/definitions/gateway.DebugMessage'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/gateway.ErrorMessage'
      summary: Debug event fields
      tags:
      - Events
  /internal/api/v1/event/mediavitrina:
    get:
      consumes:
      - application/json
      description: Method receive messages and send to queue
      parameters:
      - description: request events
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/mediavitrina.MediaVitrina'
      produces:
      - application/json
      responses:
        "201":
          description: no content
          schema:
            type: string
      summary: Receive eventMedia fields
      tags:
      - Events
swagger: "2.0"
